<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<div class="background"><br>
    <br><br><br><br><br><div class="aa"> 
           <img src="/assets/images/logo4.GIF" style="width:200px; margin: auto;">
    </div>
</div>
<br><br><br>
<div class="element">
    <br><br><br><br>
    <a href="#"><img></a>
    <button class="btn" (click)="subscription()">כניסה למנוי</button>
    <br><br>
    <button class="btn" (click)="newUser()">כניסה למשתמש חדש</button>  
    <br>
    <br><br>
    <br><br>
</div>
<!-- <button class="btn" (onClick)="newUser()" label="כניסה למשתמש חדש"> -->
<!-- <p-button (onClick)="subscription()" label="כניסה למנוי"></p-button> -->