<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<div class="ui-g" style="width:250px;margin-bottom:10px">
  <div class="ui-g-12"><p-checkbox name="group2" value="Entertainment" label="Entertainment" [(ngModel)]="selectedCategories" ></p-checkbox></div>
  <div class="ui-g-12"><p-checkbox name="group2" value="Entertainment" label="Entertainment" [(ngModel)]="selectedCategories" ></p-checkbox></div>
  <div class="ui-g-12"><p-checkbox name="group2" value="Entertainment" label="Entertainment" [(ngModel)]="selectedCategories" ></p-checkbox></div>
  <div class="ui-g-12"><p-checkbox name="group2" value="Entertainment" label="Entertainment" [(ngModel)]="selectedCategories" ></p-checkbox></div>
</div>
<!-- Selected Categories: <span *ngFor="let cat of selectedCategories" style="margin-right:10px">{{cat}} </span> -->