div{
    text-align: center;
}
.logo{
    width: 200px;
    display: block;
   
}
.a{
background-color:black;
/* display: block; */
}
.background{
    background: url('/assets/images/תמונה1.GIF');
    width: 100%;
    height: 250px;
   /* height: -webkit-fill-available; */
}  
.aaa{
       font-family: 'Rubik',sans-serif;
       font-size: 25px;
font-weight: bold;   
    color: #C0965E;
}
/* .btn{
    margin: auto;
        width: 100px;
        height: 40px;
        text-align:center;
       font-family: 'Rubik',sans-serif;

        /* align-items: center;
        display: flex; */
        /* font-size: 20px; */
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        /* background-color:rgb(192, 150, 94); */
        /* color: whitesmoke;   */
        /* border-radius: 50px; */
        /* border-style: ridge; */
/* } */ 
.btn{
    margin: auto;
            width: 300px;
            height: 50px;
            text-align:center;
            /* align-items: center;
            display: flex; */
            font-size: 20px;
            font-weight:bold;
            font-family: 'Rubik',sans-serif;
            /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            color:rgb(192, 150, 94);
            background-color: whitesmoke;  
            border-radius: 50px;
            border: solid rgb(192, 150, 94) 3px;
        }
   .btn:hover {
    background-color: rgb(192, 150, 94);
    color: white;
  }
.div1{
    box-shadow: 0 0 10px 5px rgb(192, 150, 94);
    border-radius: 20px;
    height: 370px;
    width: 550px;
    text-align: center;
    margin: auto;
    left: 120;
}
:host >>> .ui-steps::before{
    border: 1px solid rgb(192, 150, 94) !important;

}
:host >>> .ui-inputtext {
    background: #ffffff;
    padding: 0.5em 0.75em;
    border: 0px solid white;
    border-bottom: 2px solid rgb(192, 150, 94);
    -moz-border-radius: 0em;
    -webkit-border-radius: 0em;
    border-radius: 0em;
    font-size: 1em;
    color: #55595c;
    line-height: 1.25;

  
}
:host >>> .ui-inputtext.ui-state-focus,
:host >>> .ui-inputtext:focus  {
    border: 0px solid rgb(192, 150, 94) !important;
    border-bottom: 2px solid rgb(192, 150, 94) !important;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 120;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .asd{
    left:200;
    border: double red 10px;
width: 50px;
  }

  @keyframes p-progress-spinner-color {
    100%,
    100% {
        stroke: #ffa700;    }
   
}

::-webkit-input-placeholder {
    text-align: right;
  }
  
  :-moz-placeholder {
    text-align: right;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}